<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud_with_Ejs</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full h-full bg-black text-white p-10">
    <a class="text-blue-600" href="/read">Read Users</a>
    <h1 class="text-xl mt-3 mb-10">Create User</h1>

    <form class="flex gap-3" action="/create" method="post">

      <input class="px-2 py-2 border-2 rounded-full bg-transparent border-zinc-600 outline-none" type="text" name="name"
        placeholder="Name">
      <input class="px-2 py-2 border-2 rounded-full bg-transparent border-zinc-600 outline-none" type="text"
        name="email" placeholder="Email">
      <input class="px-2 py-2 border-2 rounded-full bg-transparent border-zinc-600 outline-none" type="text"
        name="image" placeholder="Image url">
      <input class="bg-blue-600 px-2 py-2 ml-3 border-2 rounded-lg" type="submit" value="Create User" name="" id="">

    </form>
  </div>
</body>

</html>